/* This should only contain changes specific to a language.
 * So, changing list style is ok, but not e.g. font size.
 */

 /* Adjust the way lists are shown:
  * (https://l10n-no.gitlab.io/l10n-no-dok/retningslinjer.html#typografi-og-teiknsetjing)
  * - unordered uses a dash instead of a disc
  * - ordered uses a number followed by a space instead of a dot
  */

@counter-style nummer {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  suffix: "  ";
}

ol {
  list-style: nummer;
}

ul {
  list-style-type: "‒ ";
}

.itemizedlist li {
  list-style-type: '‒ ';
}
