aclocal.m4
autom4te.cache
config.cache
config.log
config.status
config.guess
config.sub
configure
install-sh
missing
Makefile
Makefile.in
pot
messages.*
.xml2po.mo
build-system.*
AUTHORS
xml
log
html
pdf
odf
*.tar.gz
*.tar.bz2
*.zip
*~
INSTALL
