<?xml version='1.0' encoding="UTF-8" ?>

<sect1 id='gimp-using-web' lang="en;zh_CN">
  <title lang="en">Preparing your Images for the web</title>
  <title lang="zh_CN">创建在网页中使用的图像</title>

  <indexterm>
    <primary lang="en">The GIMP</primary>
    <primary lang="zh_CN">GIMP</primary>
    <secondary lang="en">Web</secondary>
    <secondary lang="zh_CN">网页</secondary>
  </indexterm>
  
  <para lang="en">
    One of the most common purposes <acronym>GIMP</acronym> is used for, is to prepare
    images for adding them to a web site. This means that the
    images should look as nice as possible while keeping the file
    size as small as possible.
    This little step-by-step guide will tell you how to achieve a
    smaller file size with minimal degradation of image quality.
  </para> 
  <para lang="zh_CN">
    <acronym>GIMP</acronym>一个主要的用途就是产生在您网站的网页中使用的图像。也就是说该图像应该在原图像文件大小一半时看上去也比较舒服。下面就是详细的处理步骤，已经如何产生更小的文件大小而不影响其效果。
  </para>
  
  <procedure lang='en'>
    <step>
      <para lang='en'>
        First open the image as usual. I opened our Wilber as an
        example image.
      </para>
      <informalfigure>
        <mediaobject>
          <imageobject>
            <imagedata fileref="../images/using/preparing_for_web1.png"
            format="PNG" />
          </imageobject>
          <caption>
            <para lang='en'>
              The Wilber image opened in the RGBA mode.
            </para>
          </caption>
        </mediaobject>
      </informalfigure>
    </step>
    <step>
      <para lang='en'>
        The image is now in RGB mode with an additional <link
        linkend='glossary-alpha'>alpha channel</link> (RGBA).  Mostly there
        is no need to have an alpha channel for your web image. You
        can remove the Alpha channel by <link
        linkend='gimp-image-flatten'>flattening the Image</link>.
      </para>
    </step>
    <step>
      <para lang='en'>
        After flattening, you are able to <link
        linkend='gimp-file-save'>save the image</link> in <link
        linkend='file-png-save-defaults'>PNG Format</link> for your
        homepage. 
      </para>
    </step>
  </procedure>

  <procedure lang='zh_CN'>
    <step>
      <para>
        首先打开一个图像，这里用我们的 Wilber 作为范例。
      </para>
    <informalfigure>
      <mediaobject>
        <imageobject>
          <imagedata fileref="../images/using/preparing_for_web1.png"
          format="PNG" />
        </imageobject>
      <caption>
        <para>
          Wilber 在 RGBA 模式下打开。
        </para>
      </caption>
      </mediaobject>
    </informalfigure>
    </step>
    <step>
      <para>
        现在该图像就是 RGB 模式和一个<link linkend='glossary-alpha'>Alpha 通道</link> (RGBA)。一般来说，网页图像没必要有 Alpha 通道，您可以用<link linkend='gimp-image-flatten'>平整图像</link>来去掉它。
      </para>
    </step>
    <step>
      <para>
        平整完成后就可以<link linkend='gimp-file-save'>保存图像</link>为<link linkend='file-png-save-defaults'>PNG 格式</link>。
      </para>
    </step>
  </procedure>
      
  <note>
    <para lang='en'>
      You can save the PNG with the default settings, but with a
      maximal compression. Saving your image in PNG doesn't have any
      quality drawbacks in comparison to eg. <link
      linkend='file-jpeg-save'>JPEG</link>.
    </para>
    <para lang="zh_CN">
      您可以用默认设置和最大压缩率保存 PNG。将图像保存为 PNG 而不是<link linkend='file-jpeg-save'>JPEG</link>等其它格式，是因为 PNG 不会有任何图像质量上的损失。
    </para>
  </note>
  
  <sect2>
    <title lang='en'>Squeezing Filesize a bit more</title>
    <title lang="zh_CN">进一步压缩文件大小</title>
    <para lang='en'>
      If you want to squeeze your image a bit more, you could convert
      your image to Indexed mode.  Converting images with smooth
      color transitions or gradients to indexed mode will often give poor
      results, because it will turn the smooth gradients into a series
      of bands. Well, lets try to convert the image anyway.
    </para>
    <para lang="zh_CN">
      您可以将图像转变为索引模式。不过如果图像有平滑的颜色过渡或渐变就不适合转变为索引。无论如何，可以尝试着转变一下。
    </para>
      
   
    <procedure>
      <informalfigure>
        <mediaobject>
          <imageobject>
            <imagedata fileref="../images/using/preparing_for_web2.png"
            format="PNG" />
          </imageobject>
        <caption>
          <para lang='en'>
            The indexed image can look a bit grainy. The left image is
            the wilber in original size, the right one zoomed in by 300
            percent.
          </para>
          <para lang="zh_CN">
            索引图像看上去可能上面有点纹理。左边图像是 Wilber 原始大小，而右边是放大为百分之 300。
          </para>
        </caption>
        </mediaobject>
      </informalfigure>
      <step>
        <para lang='en'>
          Use the <link linkend='gimp-image-mode'>Convert Mode
          Dialog</link> to convert your RGB image to indexed mode.
        </para>

        <para lang="zh_CN">
          用<link linkend='gimp-image-mode'>转换模式对话框</link>将 RGB 图像转换为索引模式。
        </para>
      </step>
      <step>
        <para lang='en'>
          After converting to indexed, you are once again able to <link
          linkend='gimp-file-save'>save</link> your image in <link
          linkend='file-png-save-defaults'>PNG Format</link>.
        </para>
        
        <para lang="zh_CN">
          转换为索引模式后，就可以再次将图像<link linkend='gimp-file-save'>保存</link>为<link linkend='file-png-save-defaults'>PNG 格式</link>了。
        </para>
      </step>
    </procedure>


  </sect2>

</sect1>

