<?xml version='1.0' encoding="UTF-8" ?>

<sect1 id='gimp-using-web' lang="en;fr;sv">
  <title lang="en">Preparing your Images for the web</title>

  <indexterm>
    <primary lang="en">The GIMP</primary>
    <secondary lang="en">Web</secondary>
  </indexterm>
  
  <para lang="en">
    The most purpose <acronym>Gimp</acronym> is used for, is to prepare
    the images for adding them to your web site. This means, that the
    images should look nicely by half the size the image is created.
    This little step by step guide will tell you, how you'll achieve a
    smaller file size with the (mostly) the same picture.
  </para> 
  
  <procedure lang='en'>
    <step>
      <para lang='en'>
        First open the image as usual. I opened our Wilber as an
        example image.
      </para>
    </step>
    <informalfigure>
      <mediaobject>
        <imageobject>
          <imagedata fileref="../images/using/preparing_for_web1.png"
          format="PNG" />
        </imageobject>
      <caption>
        <para lang='en'>
          The wilber opened in the RGBA mode.
        </para>
      </caption>
      </mediaobject>
    </informalfigure>
    <step>
      <para lang='en'>
        The image is now in RGB mode with an additional <link
        linkend='glossary-alpha'>alpha channel</link>.  Mostly it
        isn't needed to have an alpha channel for your web image. You
        can remove the Alpha channel by <link
        linkend='gimp-image-flatten'>flattening the Image</link>.
      </para>
    </step>
    <step>
      <para lang='en'>
        After flattening, you are able to <link
        linkend='gimp-file-save'>save the image</link> for your
        homepage. 
      </para>
    </step>
  </procedure>
  
  <sect2>
    <title lang='en'>Squeezing Filesize a bit more</title>
    <para lang='en'>
      If you want to squeeze your image a bit more, you've to convert
      your image to Indexe mode.  However, converting images with smooth
      color transition or gradients are not suitable for converting them
      to indexed. Well, lets try to convert the image.
    </para>
   
    <procedure>
      <informalfigure>
        <mediaobject>
          <imageobject>
            <imagedata fileref="../images/using/preparing_for_web2.png"
            format="PNG" />
          </imageobject>
        <caption>
          <para lang='en'>
            The indexed image can look a bit grainy. The left image is
            the wilber in original size, the right one zoomed in by 300
            percent.
          </para>
        </caption>
        </mediaobject>
      </informalfigure>
      <step>
        <para lang='en'>
          Use the <link linkend='gimp-image-mode'>Convert Mode
          Dialog</link> to convert your RGB image to indexed mode.
        </para>
      </step>
      <step>
        <para lang='en'>
          After converting to indexed, you are once again able to <link
          linkend='gimp-file-save'>save</link> your image.
        </para>
      </step>
    </procedure>


  </sect2>

</sect1>

