<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
                       "http://www.docbook.org/xml/4.3/docbookx.dtd">
<!-- section history:
  2008-02-09 lexa: fixed de bug #515187 "german translation of internet"
  2007-03-25 lexa: reviewed de
  2006-09-19 added norwegian translation by KoSt
  2006-08-27 Added Korean Translation by Mr.Dust
  2005-11-30 replaced informalfigure by axel.wernicke
  050930 de replaced informalfigure by axel.wernicke
  050829 de added by axel.wernicke
-->
<sect1 id="gimp-using-web">
  <title>Preparing your Images for the Web</title>

  <indexterm>
    <primary>Web</primary>
    <secondary>Images for the web</secondary>
  </indexterm>

  <para>
    One of the most common uses for <acronym>GIMP</acronym>,
    is to prepare images for web sites. This means that
    images should look as nice as possible while keeping the file
    size as small as possible.  This step-by-step guide demonstrates
    how to create small files with minimal loss of
    image quality.
  </para>

  <sect2 id="gimp-using-web-size-vs-quality">
    <title>Images with an Optimal Size/Quality Ratio</title>
    <para>
      An optimal image for the web depends upon the image type and the file
      format. Use <link linkend="file-jpeg-export">JPEG</link> for
      Photographs because they usually have many colors and great detail.
      An image with fewer colors, such as a button, icon, or screenshot, is
      better suited to the
      <link linkend="file-png-load">PNG</link>
      format.
    </para>
    <procedure>
      <step>
        <para>
          First, open the image as usual.
        </para>
        <figure>
          <title>Image of Wilber (the GIMP mascot) opened in RGBA mode</title>
          <mediaobject>
            <imageobject>
              <imagedata fileref="images/using/preparing_for_web1.png" format="PNG"/>
            </imageobject>
          </mediaobject>
        </figure>
      </step>
      <step>
        <para>
          The image is now in RGB mode, with an additional
          <link linkend="glossary-alpha">Alpha channel</link>
          (RGBA). There is usually no need to have an alpha channel for your
          web image. You can remove the alpha channel by
          <link linkend="gimp-image-flatten">flattening the image</link>.
        </para>
        <para>
          A photograph rarely has an alpha channel, so the image will open
          in RGB mode rather than RGBA mode; and you won't have to remove
          the alpha channel.
        </para>
        <note>
          <para>
            If the image has a soft transition into the transparent areas, you
            should not remove the alpha channel, since the information
            used for the transition will not be saved in the file.
            To export an image with transparent areas that do not have a
            soft transition, (similar to
            <link linkend="file-gif-export">GIF</link>),
            remove the alpha channel.
          </para>
        </note>
      </step>
      <step>
        <para>
          After you have flattened the image,
          <link linkend="gimp-file-export">export the image</link>
          in the <link linkend="file-png-export-defaults">PNG format</link>
          for your web site.
        </para>
        <note>
          <para>
            You can export your image in the PNG format with the default settings.
            Always using maximum compression when creating the image.
            Maximum compression has no effect on image quality or the time
            required to display the image, but it does take longer to export.
            A <link linkend="file-jpeg-export">JPEG</link> image, however,
            loses quality as the compression is increased.
            If your image is a photograph with lots of colors, you should
            use jpeg. The main thing is to find the best
            tradeoff between quality and compression. You can find more
            information about this topic in <xref linkend="file-jpeg-export"/>.
          </para>
        </note>
      </step>
    </procedure>
  </sect2>

  <sect2 id="gimp-using-web-reducing-file-size">
    <title>Reducing the File Size Even More</title>
    <para>
      If you want to reduce the size of your image a bit more, you could
      convert your image to Indexed mode. That means that all of the colors
      will be reduced to only 256 values. Do not convert images with
      smooth color transitions or gradients to indexed mode, because
      the original smooth gradients are typically converted into a
      series of bands. Indexed mode is not recommended for photographs
      because after the conversion, they typically look coarse and
      grainy.
    </para>
    <figure>
      <title>The indexed image</title>
      <mediaobject>
        <imageobject>
          <imagedata format="PNG"
            fileref="images/using/preparing_for_web2.png"/>
        </imageobject>
        <caption>
          <para>
            An indexed image can look a bit grainy. The left image is Wilber
            in its original size, the right image is zoomed in by 300 percent.
          </para>
        </caption>
      </mediaobject>
    </figure>
    <procedure>
      <step>
        <para>
          Use the command described in <xref linkend="gimp-image-mode"/>
          to convert an RGB image to indexed mode.
        </para>
      </step>
      <step>
        <para>
          After you convert an image to indexed mode, you are once
          again able to <link linkend="gimp-file-export">export</link> the
          image in <link linkend="file-png-export-defaults">PNG
          format</link>.
        </para>
      </step>
    </procedure>
  </sect2>

  <sect2 id="gimp-using-web-transparency">
    <title>Saving Images with Transparency</title>
    <indexterm>
      <primary>Transparency</primary>
      <secondary>Exporting images with transparency</secondary>
    </indexterm>
    <para>
      There are two different approaches used by graphic file formats
      for supporting transparent image areas: simple binary transparency
      and alpha transparency. Simple binary transparency is supported
      in the <link linkend="file-gif-export">GIF</link> format; one color
      from the indexed color palette is marked as the transparent color.
      Alpha transparency is supported in the
      <link linkend="file-png-export-defaults">PNG</link> format; the
      transparency information is stored in a separate channel, the
      <link linkend="glossary-alpha">Alpha channel</link>.
    </para>
    <note>
      <para>
        The GIF format is rarely used
        because PNG supports all the features of GIF with additional
        features (e.g., alpha transparency). Nevertheless, GIF is
        still used for animations.
      </para>
    </note>
    <procedure>
      <title>
        Creating an Image with Transparent Areas (Alpha Transparency)
      </title>
      <step>
        <para>
          First of all, we will use the same image as in the previous
          tutorials, Wilber the GIMP mascot.
        </para>
        <figure>
          <title>The Wilber image opened in RGBA mode</title>
          <mediaobject>
            <imageobject>
              <imagedata format="PNG"
                fileref="images/using/preparing_for_web1.png"/>
            </imageobject>
          </mediaobject>
        </figure>
      </step>
      <step>
        <para>
          To export an image with alpha transparency, you must have an alpha
          channel. To check if the image has an alpha channel, go to the
          <link linkend="gimp-channel-dialog">Channels Dialog</link> and
          verify that an entry for <quote>Alpha</quote> exists, besides
          Red, Green and Blue. If this is not the case,
          <link linkend="gimp-layer-alpha-add">add a new alpha channel</link>
          from the layers menu;
          <menuchoice><guimenu>Layer</guimenu><guimenu>Transparency</guimenu>
          <guimenuitem>Add Alpha Channel</guimenuitem></menuchoice>.
        </para>
      </step>
      <step>
        <para>
          The original XCF file contains background layers that you can
          remove. <acronym>GIMP</acronym> comes with standard filters
          that supports creating gradients; look
          under <menuchoice><guimenu>Filters</guimenu>
          <guimenu>Light and Shadow</guimenu></menuchoice>.
          You are only limited by your imagination. To
          demonstrate the capabilities of alpha transparency, a
          soft glow in the background around Wilber is shown.
        </para>
      </step>
      <step>
        <para>
          After you're done with your image, you can
          <link linkend="gimp-file-export">export</link> it in
          <link linkend="file-png-export-defaults">PNG format</link>.
        </para>
      </step>
    </procedure>
    <figure>
      <title>The Wilber image with transparency</title>
      <mediaobject>
        <imageobject>
          <imagedata format="PNG"
            fileref="images/using/preparing_for_web-alphatransparency.png"/>
        </imageobject>
        <caption>
          <para>
            Mid-Tone Checks in the background layer represent the transparent
            region of the exported image while you are working on it in
            <acronym>GIMP</acronym>.
          </para>
        </caption>
      </mediaobject>
    </figure>
  </sect2>
</sect1>
