/* This file is part of gimp-help-2. It is copyrighted under the GNU
   Free Documentation License Version 1.1 which you can get from
   http://www.gnu.org */
  
body
{
  font-family: sans-serif, serif;
  font-size: small;
}


h1, h2 {
  font-size: x-large;
  font-family: sans-serif, serif;
}

h3, h4, h5, p.title {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-top: 30px;
  font-size: medium;
}

p {
  display: block;
  margin: 0 0.5em;
  text-indent: 2em;
}

li > p, div.legalnotice > p, p.copyright, td > p {
  display: block; 
  margin: 0.5em 0.5em;
  text-indent: 0
}

.warning, .caution, .tip, .note {
  max-width: 40em;
  padding: 0 0 0 10px;
}

.warning {
  border: 1px solid darkred;
  background-color: #ff9999;
}

.caution {
  border: 1px solid #darkyellow;
  background-color: #ffcc00;
}

.tip {
  border: 1px solid darkblue;
  background-color: #6699cc;
}

.note {
    border: 1px solid darkgreen;
    background-color: #66cc66;  
}

.guilabel, .guimenuitem {
  background-color: #cccccc;
  padding: 2px;
}

b.keycap, .keycap {
  background-color: #cccccc;
  padding: 1px 5px;
  border: 1px solid #cccccc;
  margin: 0;
}

.acronym { text-transform: uppercase; }

.accel { text-decoration: underline; }

