/* This file is part of gimp-help-2. It is copyrighted under the GNU
   Free Documentation License Version 1.1 which you can get from
   http://www.gnu.org */

p {
  display: block;
  margin: 0 0.5em 0.5em;
  text-indent: 2em;
}

li > p, div.legalnotice > p, p.copyright, td > p, div.caption > p {
  display: block; 
  margin: 0.5em 0.5em;
  text-indent: 0
}