<?xml version='1.0' ?>

<sect1 id='gimp-tool-dialog'>
  <title lang="en">The Toolbox Menu</title>
  <title lang="de">Das Werkzeugfenstermen&uuml;</title>
  <indexterm lang="en">
    <primary>Toolbox</primary>
    <secondary>Menu</secondary>
  </indexterm>
  <indexterm lang="de">
    <primary>Werkzeugfenster</primary>
    <secondary>Men&uuml;</secondary>
  </indexterm>

  <screenshot>
    <graphic fileref='../images/toolbox/toolbox-menu.png' format='PNG'/>
  </screenshot>
  
  <para lang="en">
    The toolbox menu gives you much of the same functionality that you may find
    in other such applications; access to options, help, and the like. The
    following illustration details the area where you can find the toolbox
    menu.
  </para>
  <para lang="de">
    Die Men&uuml;leiste des Werkzeugfensters bietet &auml;hnliche
    Standardfunktionen wie es sie in anderen Programmen gibt.
    Nachfolgend werden die einzelnen Funktionen kurz beschrieben, die in der
    Men&uuml;leiste zu finden sind.
  </para>
<!-- FIXME The menu item dialogs do not respond to F1 -->
<variablelist>
  <title lang="en">File</title>
  <title lang="de">Datei</title>
  <varlistentry>
    <term lang="en">New</term>
    <term lang="de">Neu</term>
      <listitem>
        <para lang="en">
          This item will open the Create a <guilabel>New Image</guilabel> dialog.
        </para>
        <para lang="de">
          Hiermit l&auml;sst sich der Dialog f&uuml;r das Anlegen eines
          neuen Bildes aufrufen.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Open</term>
      <term lang="de">&Ouml;ffnen</term>
      <listitem>
        <para lang="en">
          This item will display the <guilabel>Open Image</guilabel> dialog.
        </para>
        <para lang="de">
          Dieser Men&uuml;eintrag &ouml;ffnet den <guilabel>Bild
            &ouml;ffnen</guilabel> Dialog.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Open Recent</term>
      <term lang="de">Zuletzt ge&ouml;ffnet</term>
      <listitem>
        <para lang="en">
          This item displays a flyout containing recent documents.
        </para>
        <para lang="de">
          Dieses Men&uuml; bietet einen schnellen Zugriff auf die zuletzt,
          ge&ouml;ffneten Dokumente.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">Acquire</term>
      <term lang="de">Holen</term>
      <listitem>
        <para lang="en">
          This item displays a flyout with image acquisition options.
        </para>
        <para lang="de">
          &Uuml;ber diesen Men&uuml;punkt k&ouml;nnen Bilder, zum Beispiel per
          Bildschirmschnappschuss, in den GIMP importiert werden. Ausserdem ist
          es m&ouml;glich, Bilder &uuml;ber weitere Schnittstellen (zum
          Beispiel einen angeschlossenen Scanner) zu importieren.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">Preferences</term>
      <term lang="de">Einstellungen</term>
      <listitem>
        <para lang="en">
          This item will display the Preferences dialog.
        </para>
        <para lang="de">
          &Uuml;ber diesen Men&uuml;punkt gelangt man zum
          Einstellungsdialog.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">Dialogs</term>
      <term lang="de">Dialoge</term>
      <listitem>
        <para lang="en">
          This item will show a flyout containing a list of available
          semi-permanent dialogs that may be useful during image editing.
        </para>
        <para lang="de">
          Den Zugriff auf die zur Verf&uuml;gung stehenden Dialoge f&uuml;r
          die Bildmanipulation erreicht man &uuml;ber <guilabel>Dialoge</guilabel>.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Debug</term>
      <listitem>
        <para lang="en">
          This item is for developers only.
        </para>
        <para lang="de">
          Dieser Men&uuml;punkt ist nur f&uuml;r Entwickler interessant.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">Quit</term>
      <term lang="de">Beenden</term>
      <listitem>
        <para lang="en">
          Selecting this item will end your session with The GIMP.
        </para>
        <para lang="de">
          &Uuml;ber <guilabel>Beenden</guilabel> l&auml;sst sich <acronym>Gimp</acronym>
          beenden.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
  
  <variablelist><title>Xtns</title>
    <varlistentry><term lang="en">Module Manager</term>
      <term lang="de">Modul-Manager</term>
      <listitem>
        <para lang="en">
          Selecting this item will display the modules that are available to
          The GIMP.
        </para>
        <para lang="de">
          Der Modul-Browser zeigt die im Gimp verf&uuml;gbaren Module an.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">DB Browser</term>
      <term lang="de">DB Browser</term>
      <listitem>
        <para lang="en">
          This item will display the available procedures in the
          <acronym>PDB</acronym>.
        </para>
        <para lang="de">
          Der DB Browser zeigt die verf&uuml;gbaren Prozeduren in der
          <acronym>PDB</acronym> an.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Plugin Details</term>
      <listitem>
        <para lang="en">
          This item displays both a list and a tree based heirarchy of all the
          loaded plug-ins that The GIMP has loaded.
        </para>
        <para lang="de">
          Dieser Men&uuml;punkt ruft ein Listenfenster auf, welches
          hierarisch alle geladenen Plugins zeigt.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">Unit Editor</term>
      <term lang="de">Einheiten Editor</term>
      <listitem>
        <para lang="en">
          Selecting this item will display the Unit Editor dialog which not
          only details current units, but also allows the creation of new
          units for use within The GIMP.
        </para>
        <para lang="de">
          Dieser Men&uuml;punkt ruft den Einheiten Editor auf. Er dient
          dazu vorhandene Einheiten zu editieren oder neue Einheiten
          hinzuzuf&uuml;gen.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Script-Fu</term>
      <listitem>
        <para lang="en">
          This item will display a flyout containing many Script-Fu scripts and
          options including the Script-Fu console.
        </para>
        <para lang="de">
          Unter diesen Men&uuml;punkt l&auml;sst sich alles n&auml;here
          &uuml;ber Script-Fu Skripte erfahren. Enthalten ist nicht nur eine
          &Uuml;bersicht der verf&uuml;gbaren Skripte, sondern auch die
          Script-Fu Konsole.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Web Browser</term>
      <listitem>
        <para lang="en">
          This item displays a flyout containing many helpful website
          addresses. By selecting one of the items listed, your web browser
          will open the nominated site.
        </para>
        <para lang="de">
          &Uuml;ber diesen Men&uuml;punkt kann man schnell auf hilfreiche
          Webseiten &uuml;ber und um <acronym>Gimp</acronym> aufrufen. Beim
          Aufruf des jeweiligen Men&uuml;punktes, wird der Standardbrowser
          die &uuml;bergebene <link linkend='glossary-url'>URL</link>
          laden.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
  
  <variablelist><title lang="en">Help</title>
    <title lang="de">Hilfe</title>
    <varlistentry>
      <term lang="en">Help</term>
      <term lang="de">Hilfe</term>
      <listitem>
        <para lang="en">
          Selecting this item will display the help browser.
        </para>
        <para lang="de">
          Durch Ausw&auml;hlen dieses Men&uuml;punktes, &ouml;ffnet man den
          <acronym>Gimp</acronym>-Hilfe Browser mit dem
          <acronym>Gimp</acronym> Benutzerhandbuch. 
        </para>
        <caution>
          <para lang="en">
            Please verify, that you have the Gimp User Manual installed.
          </para>
          <para lang="de">
            Bitte vergewissern Sie sich, dass das <acronym>Gimp</acronym>
            Benutzerhandbuch installiert ist, um die Hilfe benutzen zu
            k&ouml;nnen.
          </para>
        </caution>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">Context Help</term>
      <term lang="de">Kontexthilfe</term>
      <listitem>
        <para lang="en">
          Selecting this item will change the behaviour of the pointer such
          that the next click will display help for the clicked item if
          available.
        </para>
        <para lang="de">
          Ein Klick auf den Men&uuml;eintrag der <guilabel>Kontexthilfe</guilabel>
          gen&uuml;gt, um einen kontextsensitiven Mauszeiger zu erhalten.
          Um die Hilfe &uuml;ber ein Element zu erhalten, klicken Sie mit
          dem kontextsensitiven Mauszeiger auf ein Werkzeugicon Ihrer Wahl.
          Es ist ebenfalls m&ouml;glich, auf Men&uuml;s zu klicken.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">Tip of the Day</term>
      <term lang="de">Tip des Tages</term>
      <listitem>
        <para lang="en">
          This item will display the Tip of the Day dialog. This dialog
          contains useful tips to help you gain a better understanding of some
          of The GIMP's nuances.
        </para>
        <para lang="de">
          Dieser Men&uuml;punkt &ouml;ffnet den <guilabel>Tip des
            Tages</guilabel> Dialog. Er zeigt n&uuml;tzliche Tips und
          Tricks um mit <acronym>GIMP</acronym> besser arbeiten zu
          k&ouml;nnen.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term lang="en">About</term>
      <term lang="de">Info</term>
      <listitem>
        <para lang="en">
          This item shows the About dialog. This dialog details information
          about your current release of The GIMP and about the many authors who
          wrote it.
        </para>
        <para lang="de">
          Dieser Men&uuml;punkt ruft das Infofenster auf, welches
          Informationen &uuml;ber das aktuelle Release und den vielen
          Authoren des <acronym>Gimp</acronym> anzeigt.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
</sect1>
