<?xml version='1.0' ?>

<sect1 id='menu'>
  <title>The Toolbox Menu</title>
  <indexterm>
    <primary>Toolbox</primary>
    <secondary>Menu</secondary>
  </indexterm>

  <para>
    The toolbox menu gives you much of the same functionality that you may find
    in other such applications; access to options, help, and the like. The
    following illustration details the area where you can find the toolbox
    menu.
  </para>

  <screenshot>
    <graphic fileref='../images/toolbox/toolbox-menu.png' format='PNG'/>
  </screenshot>

<!-- FIXME The menu item dialogs do not respond to F1 -->
  <variablelist><title>File</title>
    <varlistentry><term>New</term>
      <listitem>
        <para>
          This item will open the Create a New Image dialog.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Open</term>
      <listitem>
        <para>
          This item will display the Open Image dialog.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Open Recent</term>
      <listitem>
        <para>
          This item displays a flyout containing recent documents.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Acquire</term>
      <listitem>
        <para>
          This item displays a flyout with image acquisition options.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Preferences</term>
      <listitem>
        <para>
          This item will display the Preferences dialog.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Dialog</term>
      <listitem>
        <para>
          This item will show a flyout containing a list of available
          semi-permanent dialogs that may be useful during image editing.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Debug</term>
      <listitem>
        <para>
          This item is for developers only.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Quit</term>
      <listitem>
        <para>
          Selecting this item will end your session with The GIMP.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
  
  <variablelist><title>Xtns</title>
    <varlistentry><term>Module Browser</term>
      <listitem>
        <para>
          Selecting this item will display the modules that are available to
          The GIMP.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>DB Browser</term>
      <listitem>
        <para>
          This item will display the available procedures in the
          <acronym>PDB</acronym>.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Plugin Details</term>
      <listitem>
        <para>
          This item displays both a list and a tree based heirarchy of all the
          loaded plug-ins that The GIMP has loaded.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Unit Editor</term>
      <listitem>
        <para>
          Selecting this item will display the Unit Editor dialog which not
          only details current units, but also allows the creation of new
          units for use within The GIMP.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Script-Fu</term>
      <listitem>
        <para>
          This item will display a flyout containing many Script-Fu scripts and
          options including the Script-Fu console.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Web Browser</term>
      <listitem>
        <para>
          This item displays a flyout containing many helpful website
          addresses. By selecting one of the items listed, your web browser
          will open the nominated site.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
  
  <variablelist><title>Help</title>
    <varlistentry><term>Help</term>
      <listitem>
        <para>
          Selecting this item will display the help browser.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Context Help</term>
      <listitem>
        <para>
          Selecting this item will change the behaviour of the pointer such
          that the next click will display help for the clicked item if
          available.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Tip of the Day</term>
      <listitem>
        <para>
          This item will display the Tip of the Day dialog. This dialog
          contains useful tips to help you gain a better understanding of some
          of The GIMP's nuances.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>About</term>
      <listitem>
        <para>
          This item shows the About dialog. This dialog details information
          about your current release of The GIMP and about the many authors who
          wrote it.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
</sect1>
