/* This file is part of gimp-help-2. It is copyrighted under the GNU
   Free Documentation License Version 1.1 which you can get from
   http://www.gnu.org */
body
{
  font-size: small;
}

a:hover
{
  background: lightblue;
  color: black;
}

div.toc
{
  border: 1px solid black;
  padding: 0px 10px;
  background: lightgrey;
  color: black;
  margin-bottom: 1cm;
  width: 80%;
}

div.toc b
{
  font-size: 140%; 
}

title
{
  margin: 0px;
}

p 
{
  display: block;
  width: 50em;
}


div.toc a
{
  margin-left: 5px;
  margin-bottom: 5px;
}

div.sect1
{
  margin-left: 20px;
  margin-top: 20px;
}

div.sect2
{
  margin-top: 10px;
}

.warning
{
  border: 1px solid red;
  padding : 0px 0px 0px 10px;
  background: #ff9999;
}

div.sect1 .title
{
  margin-left: -20px;
  font-size: 140%;
  text-decoration: underline;
}

div.sect2 .title
{
  margin-left: -10px;
  font-size: 120%;
  text-decoration: underline;
}

dd
{
  margin-bottom: 5px;
}

hr
{
  border: 0px;
  border-top: 1px dotted black;
  width: 70%;
  margin-top: -20px;
  padding-bottom: 10px;
}

.guilabel 
{
  background-color: #eeeee6;
  padding: 2px;
}

b.keycap, .keycap
{
  background-color: #eeeee6;
  padding: 1px 2px;
  border: 1px solid #999999;
  margin: 0 2px;
}

.acronym
{
  text-transform: uppercase;
}
