/* This file is part of gimp-help-2. It is copyrighted under the GNU
   Free Documentation License Version 1.1 which you can get from
   http://www.gnu.org */

@media screen {
  /* globals */
  body,
  html{
    font-size: small;
    font-family: Verdana, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 40em;
    min-width: 34em;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p.title,
  dt,
  li,
  .term {
    clear: both;
  }
 
  h1,
  h2,
  h3,
  div.navheader table th,
  div.navheader table th#chaptername {
    font-family: Georgia, Times, serif;
  }

  h1, 
  div.navheader table th {
    font-size: x-large;
  }

  h2,
  h3 {
    font-size: 140%;
  }
  

  h4,
  h5,
  p.title {
    margin-top: 2em;
    font-size: 110%;
  }
  
  .term { 
    border-bottom: 1px dotted black; 
  }

  p {
    display: block;
  }
  
  .filename {
    font-size: medium;
    font-family: Courier, monospace;
  }

  /* don't display anchor tags with only an id attribute */
  p a[id] {
    margin: 0;
    padding: 0;
    display: inline;
    background-image: none;
  }
  
  p a,
  p a:hover,
  .mousebutton {
    margin-left: 5px;
    padding-left: 10px;
    background-image: url("../images/link.png");
    background-repeat: no-repeat;
    background-position: center left;
  }

  p .guiicon {
    position: relative;
    margin-bottom: 1em;
  }
  
  dd {
    margin: 5px 40px;
    margin-right: 0;
  }

  hr {
    border: 0px;
    border-top: 1px solid black;
    width: 70%;
    margin-top: 2em;
    padding-bottom: 1em;
  }

  a {
    color: blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }

/*
   navigation header and footer definitions
 */

  div.navheader, 
  div.navfooter {
    background-color: #d6ba00;
    color: black;
  }
  
  div.navheader table th#chaptername {
    font-size: large;
  }

  div.navheader table, 
  div.navfooter table {
    border: 1px solid black;
  }

  div.navheader table td a,
  div.navfooter table td a {
    color: #fff5b0;
    text-decoration: none;
  }

  /* normal text in the footer */
  div.navfooter table td {
    color: black;
  }
    
  /* links in header and footer */
  div.navheader table td a:hover,
  div.navfooter table td a:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  div.navheader table td a:visited,
  div.navfooter table td a:visited {
    color: #686868;
  }

  div.navheader hr, div.navfooter hr{
    display: none;
  }
 

  /* titlepage */
  div.book .titlepage {
    padding-top: 300px; /* height of the splash image */
    background-image: url("../images/gimp-splash.png");
    background-repeat: no-repeat;
  }

  /* table of contents */
  div.toc {
    border: 1px solid black;
    padding: 0px 10px;
    background-color: #fff9cd;
    color: black;
    margin-bottom: 1cm;
    width: 80%;
  }

  div.toc b { font-size: 140%; }

  div.toc a {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  /* toc definitions for different sections and chapters */

  div.book div.toc {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: medium;
  }

  div.book div.toc .chapter a {
    display: block;
    border-bottom: 1px dotted black;
  }

  .procedure {
    width: 90%;
  }

  .warning, 
  .caution, 
  .tip, 
  .note {
    padding: 0.5em;
    margin: 1em 0;
  }
  
  .warning p,
  .caution p,
  .tip p,
  .note p {
    display: inline;
  }
  
  .warning {
    border: 1px solid darkred;
    background-color: #ff9999;
  }

  .caution {
    border: 1px solid #827206;
    background-color: #ffdd00;
  }

  .tip {
    border: 1px solid darkblue;
    background-color: #c3d4de;
  }
  
  .note {
    border: 1px solid darkgreen;
    background-color: #b0e1a9;
  }


  .guilabel,
  .guimenu,
  .guisubmenu,
  .guimenuitem {
    background-color: #eeeee6;
    padding: 0 0.5em;
  }

  b.keycap,
  .keycap {
    background-color: #eeeee6;
    padding: 0 0.5em;
    border: 1px solid #999999;
    margin: 0 0.2em;
  }

  .acronym { 
    text-transform: uppercase;
  }

  .informalfigure,
  .informaltable,
  .figure,
  .table {
      padding: 1em;
      padding-bottom: 0.5em;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin: 1em;
  }
  .informalfigure .mediaobject img,
  .figure .mediaobject img {
      display: block;
      margin: 0 auto;
  }
  .informalfigure .mediaobject .caption {
      margin-top: 1em;
  }
  
  div.table p.title,
  div.figure p.title {
    letter-spacing: 0;
    margin-top: 0;
  }
  
  div.caption {
    font-weight: bold;
  }

  div.figure p.title {
    border-bottom: 0;
    margin: 0;
    margin-bottom: 0.5em;
  }
}
