/* This file is part of gimp-help-2. It is copyrighted under the GNU
   Free Documentation License Version 1.1 which you can get from
   http://www.gnu.org */

@media screen {
  /* globals */
  body {
    font-size: small;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1, h2 {
    font-size: x-large;
    font-family: Georgia, Times, serif;
    clear: both;
  }

  h3, h4, h5, p.title {
    font-size: medium;
    font-weight: bold;
    width: 70%;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
    margin-top: 30px;
    clear: both;
  }
  
  h3, h4 {
    text-decoration: underline;
    border: 0;
    letter-spacing: normal;
  }

  dt {
    clear: both;
  }
  
  li {
    clear: both;
  }

  div.itemizedlist li {
    clear: none;
  }
  
  .term { 
    border-bottom: 1px dotted black; 
    clear: both;
  }

  title { margin: 0px; }

  p {
    display: block;
    margin: 5px 0;
    margin-bottom: 15px;
    width: 70%;
    min-width: 40em;
  }
  
  .filename {
    font-size: medium;
    font-family: Courier, monospace;
  }

  /* don't display anchor tags with only an id attribute */
  p a[id] {
    margin: 0;
    padding: 0;
    display: inline;
    background-image: none;
  }
  
  p a, p a:hover, .mousebutton {
    margin-left: 5px;
    padding-left: 10px;
    background-image: url("../images/link.png");
    background-repeat: no-repeat;
    background-position: center left;
  }

  p .guiicon {
    position: relative;
    top: 12px;
  }
  
  dd {
    margin: 5px 40px;
    margin-right: 0;
  }

  hr {
    border: 0px;
    border-top: 1px solid black;
    width: 70%;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  a {
    color: blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }

  div.navheader, 
  div.navfooter {
    background-color: #d6ba00;
    color: black;
    clear: both;
  }

  div.navheader table th {
    font-family: Georgia, Times, serif;
    font-size: x-large;
  }

  div.navheader table th#chaptername {
    font-family: Georgia, Times, serif;
    font-size: large;
  }

  div.navheader table, 
  div.navfooter table {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
  }

  div.navheader table td a,
  div.navfooter table td a {
    color: #fff5b0;
    text-decoration: none;
  }

  /* normal text in the footer */
  div.navfooter table td {
    color: black;
  }
    
  /* links in header and footer */
  div.navheader table td a:hover,
  div.navfooter table td a:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  div.navheader table td a:visited,
  div.navfooter table td a:visited {
    color: #686868;
  }

  div.navheader hr, div.navfooter hr{
    display: none;
  }
 
  div.book,
  div.chapter,
  div.sect1, 
  div.sect2,
  div.sect3,
  div.appendix, 
  div.section, 
  div.glossary,
  div.bibliography
  div.index {
    margin: 3em;
  }

  /* table of contents */
  div.toc {
    border: 1px solid black;
    padding: 0px 10px;
    background-color: #fff9cd;
    color: black;
    margin-bottom: 1cm;
    width: 80%;
  }

  div.toc b { font-size: 140%; }

  div.toc a {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  /* toc definitions for different sections and chapters */

  div.book div.toc {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: medium;
  }

  div.book div.toc .chapter a {
    display: block;
    border-bottom: 1px dotted black;
  }

  .procedure {
    width: 90%;
  }

  .warning, .caution, .tip, .note {
    min-width: 60%;
    max-width: 70%;
    padding: 0 0 0 10px;
    margin: 10px 0;
    clear: right;
  }
  
  .warning {
    border: 1px solid darkred;
    background-color: #ff9999;
  }

  .caution {
    border: 1px solid #827206;
    background-color: #ffdd00;
  }

  .tip {
    border: 1px solid darkblue;
    background-color: #c3d4de;
  }
  
  .note {
    border: 1px solid darkgreen;
    background-color: #b0e1a9;
  }

  .warning p {
    min-width: 90%;
  }

  .caution p {
    min-width: 90%;
  }

  .tip p {
    min-width: 90%;
  }

  .note p {
    min-width: 90%;
  }

  .warning table, .caution table , .tip table , .note table { width: 100%; }

  div.sect1 .title { margin-left: -20px; }

  div.sect2 .title { margin-left: -10px; }

  
  .guilabel, .guimenu, .guisubmenu, .guimenuitem {
    background-color: #eeeee6;
    padding: 2px 5px;
  }

  b.keycap, .keycap {
    background-color: #eeeee6;
    padding: 1px 5px;
    border: 1px solid #999999;
    margin: 0 2px;
  }

  .acronym { text-transform: uppercase; }

  /* temporary disabled
  .informalfigure { 
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    float: right;
    clear: right;
    }
  */

  .informaltable { 
    width: 70%;
    min-width: 50%;
    margin: 5em 0;
    }

  .mousebutton {
    background-image: url("../images/mousebutton.png");
  }

 
  .title {
    clear: both;
    }
 
  div.caption {
    font-weight: bold;
  }

}
