<?xml version='1.0' encoding="UTF-8" ?>

<sect1 id='gimp-tool-dialog'>
  <title lang="en">Toolbox Menu</title>
  <title lang="de">Das Werkzeugfenstermenü</title>
  <title lang="fr">Le Menu Boîte à Outils</title>
  <indexterm lang="en">
    <primary>Toolbox</primary>
    <secondary>Menu</secondary>
  </indexterm>
  <indexterm lang="de">
    <primary>Werkzeugfenster</primary>
    <secondary>Menü</secondary>
  </indexterm>
  <indexterm lang="fr">
    <primary>Boîte à Outils</primary>
    <secondary>Menu</secondary>
  </indexterm>

  <screenshot lang="en">
    <graphic fileref='../images/toolbox/toolbox-menu.png' format='PNG'/>
  </screenshot>

  <screenshot lang="de">
    <graphic fileref='../images/toolbox/de/toolbox-menu.png' format='PNG'/>
  </screenshot>
  
  <para lang="fr">
    Le Menu de la boîte à outils vous donne les mêmes fonctionnalités 
    que vous trouvez dans les autres applications: accès aux options, aide, etc...
    Ce sont ces différentes fonctions que nous allons décrire.
  </para>
  <para lang="de">
    Die Menüleiste des Werkzeugfensters bietet ähnliche
    Standardfunktionen wie es sie in anderen Programmen gibt.
    Nachfolgend werden die einzelnen Funktionen kurz beschrieben, die in der
    Menüleiste zu finden sind.
  </para>
<!-- FIXME The menu item dialogs do not respond to F1 -->
<variablelist>
  <title lang="en">File</title>
  <title lang="de">Datei</title>
  <title lang="fr">Fichier</title>
  <varlistentry>
    <term lang="en">New</term>
    <term lang="de">Neu</term>
    <term lang="fr">Nouveau</term>
      <listitem>
        <para lang="en">
          This item will open the Create a <guilabel>New Image</guilabel> dialog.
        </para>
        <para lang="de">
          Hiermit lässt sich der Dialog für das Anlegen eines
          neuen Bildes aufrufen.
        </para>
        <para lang="fr">
          Cet item ouvre la boîte de dialogue Création d'une 
          <guilabel>Nouvelle Image</guilabel>.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Open</term>
      <term lang="de">Öffnen</term>
      <term lang="fr">Ouvrir</term>
      <listitem>
        <para lang="en">
          This item will display the <guilabel>Open Image</guilabel> dialog.
        </para>
        <para lang="de">
          Dieser Menüeintrag öffnet den <guilabel>Bild
            öffnen</guilabel> Dialog.
        </para>
        <para lang="fr">
          Cet item affiche la boîte de dialogue  
          <guilabel>sélectionner une image</guilabel>.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Open Recent</term>
      <term lang="de">Zuletzt geöffnet</term>
      <term lang="fr">Récemment ouverts</term>
      <listitem>
        <para lang="en">
          This item displays a flyout containing recent documents.
        </para>
        <para lang="de">
          Dieses Menü bietet einen schnellen Zugriff auf die zuletzt,
          geöffneten Dokumente.
        </para>
        <para lang="fr">
          Cet item affiche une liste des documents que vous avez ouverts récemment.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Acquire</term>
      <term lang="de">Holen</term>
      <term lang="fr">Acquisition</term>
      <listitem>
        <para lang="en">
          This item displays a flyout with image acquisition options.
        </para>
        <para lang="de">
          Über diesen Menüpunkt können Bilder, zum Beispiel per
          Bildschirmschnappschuss, in den GIMP importiert werden. Ausserdem ist
          es möglich, Bilder über weitere Schnittstellen (zum
          Beispiel einen angeschlossenen Scanner) zu importieren.
        </para>
        <para lang="fr">
          Cet item affiche une fenêtre volante qui donne la liste des 
          greffons disponibles permettant d'acquérir des images en 
          provenance d'autres sources que le disque dur (Presse papier, Copie 
          d'écran (le curseur de la souris devient une croix avec laquelle 
          on clique sur la fenêtre d'image choisie), Scanner (TWAIN pour 
          Windows, Xsane pour Linux)...
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Preferences</term>
      <term lang="de">Einstellungen</term>
      <term lang="fr">Préférences</term>
      <listitem>
        <para lang="en">
          This item will display the Preferences dialog.
        </para>
        <para lang="de">
          Über diesen Menüpunkt gelangt man zum
          Einstellungsdialog.
        </para>
        <para lang="fr">
          Affiche la boîte de dialogue Préférences 
          permettant de configurer Gimp.
        </para> 
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Dialogs</term>
      <term lang="de">Dialoge</term>
      <term lang="fr">Dialogues</term>
      <listitem>
        <para lang="en">
          This item will show a flyout containing a list of available
          semi-permanent dialogs that may be useful during image editing.
        </para>
        <para lang="de">
          Den Zugriff auf die zur Verfügung stehenden Dialoge für
          die Bildmanipulation erreicht man über <guilabel>Dialoge</guilabel>.
        </para>
        <para lang="fr">
          Donne accès à différentes boîte de dialogues 
          utiles lors de l'édition des images.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Debug</term>
      <term lang="de">Debug</term>
      <term lang="fr">Débogage</term>
      <listitem>
        <para lang="en">
          This item is for developers only.
        </para>
        <para lang="de">
          Dieser Menüpunkt ist nur für Entwickler interessant.
        </para>
        <para lang="fr">
          Cet item n'intéresse que les développeurs.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Quit</term>
      <term lang="de">Beenden</term>
      <term lang="fr">Quitter</term>
      <listitem>
        <para lang="en">
          Selecting this item will end your session with The GIMP.
        </para>
        <para lang="de">
          Über <guilabel>Beenden</guilabel> lässt sich <acronym>Gimp</acronym>
          beenden.
        </para>
        <para lang="fr">
          Termine votre session Gimp.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
  
  <variablelist>
    <title lang="en">Xtns</title>
    <title lang="de">Xtns</title>
    <title lang="fr">Exts</title>
    <varlistentry>
      <term lang="en">Module Manager</term>
      <term lang="de">Modul-Manager</term>
      <term lang="fr">Gestionnaire de Modules</term>
      <listitem>
        <para lang="en">
          Selecting this item will display the modules that are available to
          The GIMP.
        </para>
        <para lang="de">
          Der Modul-Browser zeigt die im Gimp verfügbaren Module an.
        </para>
        <para lang="fr">
          Affiche les modules (fonctions implémentées de façon 
          séparée du noyau) disponibles dans Gimp. Vous pouvez 
          aussi inhiber le chargement des modules au lancement de Gimp, ce qui peut 
          l'accélérer et économiser la mémoire.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">DB Browser</term>
      <term lang="de">DB Browser</term>
      <term lang="fr">Explorer la base de Procédures</term>
      <listitem>
        <para lang="en">
          This item will display the available procedures in the
          <acronym>PDB</acronym>.
        </para>
        <para lang="de">
          Der DB Browser zeigt die verfügbaren Prozeduren in der
          <acronym>PDB</acronym> an.
        </para>
        <para lang="fr">
          Ouvre le "Navigateur BD" qui affiche les procédures 
          disponibles dans la <acronym>PDB</acronym> (Base de Données 
          de Procédures). Ces procédures sont des fonctions 
          appelées par des scripts ou des greffons. Cet outil est 
          utile aux auteurs de scripts et de greffons.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Plugin Details</term>
      <term lang="de">Plugin Details</term>
      <term lang="fr">Détails des greffons</term>
      <listitem>
        <para lang="en">
          This item displays both a list and a tree based heirarchy of all the
          loaded plug-ins that The GIMP has loaded.
        </para>
        <para lang="de">
          Dieser Menüpunkt ruft ein Listenfenster auf, welches
          hierarisch alle geladenen Plugins zeigt.
        </para>
        <para lang="fr">
          Ouvre la fenêtre "Description des greffons" qui affiche la 
          liste de tous les greffons que Gimp a chargés, de deux 
          façons possibles:en liste simple ou en arbre hiérarchique.
          Ce peut être utile pour retrouver un greffon.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Unit Editor</term>
      <term lang="de">Einheiten Editor</term>
      <term lang="fr">Editeur d'Unité</term>
      <listitem>
        <para lang="en">
          Selecting this item will display the Unit Editor dialog which not
          only details current units, but also allows the creation of new
          units for use within The GIMP.
        </para>
        <para lang="de">
          Dieser Menüpunkt ruft den Einheiten Editor auf. Er dient
          dazu vorhandene Einheiten zu editieren oder neue Einheiten
          hinzuzufügen.
        </para>
        <para lang="fr">
          Affiche le détail des unités de mesure en cours. Permet en 
          outre d'ajouter de nouvelles unités.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry><term>Script-Fu</term>
      <listitem>
        <para lang="en">
          This item will display a flyout containing many Script-Fu scripts and
          options including the Script-Fu console.
        </para>
        <para lang="de">
          Unter diesen Menüpunkt lässt sich alles nähere
          über Script-Fu Skripte erfahren. Enthalten ist nicht nur eine
          Übersicht der verfügbaren Skripte, sondern auch die
          Script-Fu Konsole.
        </para>
        <para lang="fr">
          Affiche la liste des Script-Fu disponibles, mais aussi la console 
          pour Script-Fu.(Script-fu est un langage de script)
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Web Browser</term>
      <term lang="de">Web Browser</term>
      <term lang="fr">Navigateur Web</term>
      <listitem>
        <para lang="en">
          This item displays a flyout containing many helpful website
          addresses. By selecting one of the items listed, your web browser
          will open the nominated site.
        </para>
        <para lang="de">
          Über diesen Menüpunkt kann man schnell auf hilfreiche
          Webseiten über und um <acronym>Gimp</acronym> aufrufen. Beim
          Aufruf des jeweiligen Menüpunktes, wird der Standardbrowser
          die übergebene <link linkend='glossary-url'>URL</link>
          laden.
        </para>
        <para lang="fr">
          Affiche une liste d'adresses de sites Web. Si vous cliquez sur une 
          de ces adresses, votre navigateur Web par défaut ouvrira la 
          page nommée.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
  
  <variablelist>
    <title lang="en">Help</title>
    <title lang="de">Hilfe</title>
    <title lang="fr">Aide</title>
    <varlistentry>
      <term lang="en">Help</term>
      <term lang="de">Hilfe</term>
      <term lang="fr">Aide</term>
      <listitem>
        <para lang="en">
          Selecting this item will display the help browser.
        </para>
        <para lang="de">
          Durch Auswählen dieses Menüpunktes, öffnet man den
          <acronym>Gimp</acronym>-Hilfe Browser mit dem
          <acronym>Gimp</acronym> Benutzerhandbuch. 
        </para>
        <para lang="fr">
          Affiche l'explorateur d'aide avec le manuel de l'utilisateur.
        </para>
        <caution>
          <para lang="en">
            Please verify, that you have the Gimp User Manual installed.
          </para>
          <para lang="de">
            Bitte vergewissern Sie sich, dass das <acronym>Gimp</acronym>
            Benutzerhandbuch installiert ist, um die Hilfe benutzen zu
            können.
          </para>
          <para lang="fr">
            Vérifiez que le Manuel de l'utilisateur Gimp est bien 
            installé.
          </para>
        </caution>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Context Help</term>
      <term lang="de">Kontexthilfe</term>
      <term lang="fr">Aide Contextuelle</term>
      <listitem>
        <para lang="en">
          Selecting this item will change the behaviour of the pointer such
          that the next click will display help for the clicked item if
          available.
        </para>
        <para lang="de">
          Ein Klick auf den Menüeintrag der <guilabel>Kontexthilfe</guilabel>
          genügt, um einen kontextsensitiven Mauszeiger zu erhalten.
          Um die Hilfe über ein Element zu erhalten, klicken Sie mit
          dem kontextsensitiven Mauszeiger auf ein Werkzeugicon Ihrer Wahl.
          Es ist ebenfalls möglich, auf Menüs zu klicken.
        </para>
        <para lang="fr">
          Un clic sur cet item changera le comportement du pointeur (qui 
          devient "?") de telle sorte que le prochain clic sur une icône 
          d'outil ou une fenêtre de l'interface affichera l'aide sur 
          l'élément concerné.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">Tip of the Day</term>
      <term lang="de">Tip des Tages</term>
      <term lang="fr">Conseil du jour</term>
      <listitem>
        <para lang="en">
          This item will display the Tip of the Day dialog. This dialog
          contains useful tips to help you gain a better understanding of some
          of The GIMP's nuances.
        </para>
        <para lang="de">
          Dieser Menüpunkt öffnet den <guilabel>Tip des
            Tages</guilabel> Dialog. Er zeigt nützliche Tips und
          Tricks um mit <acronym>GIMP</acronym> besser arbeiten zu
          können.
        </para>
        <para lang="fr">
          Affiche le conseil du jour qui contient d'utiles informations pour 
          mieux comprendre toutes les nuances de Gimp.
        </para>
      </listitem>
    </varlistentry>
    <varlistentry>
      <term lang="en">About</term>
      <term lang="de">Info</term>
      <term lang="en">A propos</term>
      <listitem>
        <para lang="en">
          This item shows the About dialog. This dialog details information
          about your current release of The GIMP and about the many authors who
          wrote it.
        </para>
        <para lang="de">
          Dieser Menüpunkt ruft das Infofenster auf, welches
          Informationen über das aktuelle Release und den vielen
          Authoren des <acronym>Gimp</acronym> anzeigt.
        </para>
        <para lang="fr">
          Affiche une fenêtre donnant des informations sur la version 
          présente de Gimp et sur ses auteurs.
        </para>
      </listitem>
    </varlistentry>
  </variablelist>
</sect1>
