<?xml version='1.0' encoding="UTF-8" ?>

<sect1 id='gimp-tools-menu' lang="de;en;fr;it;zh_CN">
  <title lang="en">Toolbox Menu</title>
  <title lang="de">Das Werkzeugfenstermenü</title>
  <title lang="fr">Le Menu Boîte à Outils</title>
  <title lang="it">Il menu strumenti</title>
  <title lang="zh_CN">工具箱菜单</title>

  <indexterm lang="en">
    <primary>Toolbox</primary>
    <secondary>Menu</secondary>
  </indexterm>
  <indexterm lang="de">
    <primary>Werkzeugfenster</primary>
    <secondary>Menü</secondary>
  </indexterm>
  <indexterm lang="fr">
    <primary>Boîte à Outils</primary>
    <secondary>Menu</secondary>
  </indexterm>
  <indexterm lang="it">
    <primary>Strumenti</primary>
    <secondary>Menu</secondary>
  </indexterm>
  <indexterm lang="zh_CN">
    <primary>工具箱</primary>
    <secondary>菜单</secondary>
  </indexterm>

  <screenshot lang="en">
    <graphic fileref='../images/toolbox/toolbox-menu.png' format='PNG'/>
  </screenshot>
  <screenshot lang="de">
    <graphic fileref='../images/toolbox/de/toolbox-menu.png' format='PNG'/>
  </screenshot>
  <screenshot lang="fr">
    <graphic fileref='../images/toolbox/fr/toolbox-menu.png' format='PNG'/>
  </screenshot>
  <screenshot lang="en">
    <graphic fileref='../images/toolbox/toolbox-menu.png' format='PNG'/>
  </screenshot>
  <screenshot lang="zh_CN">
    <graphic fileref='../images/toolbox/zh_CN/toolbox-menu.png' format='PNG'/>
  </screenshot>
  <para lang="fr">
    Le Menu de la boîte à outils vous donne les mêmes fonctionnalités que
    vous trouvez dans les autres applications: accès aux options, aide,
    etc...  Ce sont ces différentes fonctions que nous allons décrire.
  </para>
  <para lang="de">
    Die Menüleiste des Werkzeugfensters bietet ähnliche
    Standardfunktionen wie in anderen Programmen.
    Nachfolgend werden die einzelnen Standardfunktionen kurz beschrieben.
  </para>
  <para lang="en">
    The Toolbox is the heart of the GIMP.  It contains the most 
    commonly used controls, and the highest-level menus.  Two of the menus,
    <guilabel>File</guilabel> and  <guilabel>Help</guilabel>, can also be accessed
    from the menubars located above each image display, although their
    contents are somewhat different.  The Toolbox  is the only
    place to access the <guilabel>Xtns</guilabel> (Extensions) menu. 
  </para>
  <para lang="it">
    Il pannello strumenti è il cuore di GIMP. Contiene i comandi più usati ed
    i menu di livello più alto. Due dei menu <guilabel>File</guilabel> e 
    <guilabel>Aiuto</guilabel>, possono essere raggiunti dalle barre dei menu
    collocate sopre ad ogni immagine mostrata, anche se i loro contenuto è
    leggermente differente. Il pannello strumenti è il solo posto da cui è
    possibile accedere al menu <guilabel>Xtns</guilabel> (estensioni).
  </para>
  <para lang="zh_CN">
    工具箱菜单是 GIMP 的心脏。它包括最常用的操作和最上级的菜单。在每个图像显示上方的菜单条有<guilabel>文件</guilabel>,<guilabel>帮助</guilabel>和<guilabel>扩展</guilabel>菜单。而且<guilabel>扩展</guilabel>菜单只能通过这儿访问。本节将给您关于工具菜单的一个大致的介绍。有关各个工具和菜单详细的介绍请看下面相应章节。
  </para>

<variablelist>
  <title lang="en">File</title>
  <title lang="de">Datei</title>
  <title lang="fr">Fichier</title>
  <title lang="it">File</title>
  <title lang="zh_CN">文件</title>

  <varlistentry>
    <term lang="en">New</term>
    <term lang="de">Neu</term>
    <term lang="fr">Nouveau</term>
    <term lang="it">Nuovo</term>
    <term lang="zh_CN">新建</term>
      <listitem>
        <para lang="en">
          This item opens the <link linkend='gimp-file-new'>New Image</link> dialog, 
          allowing you to create a new, empty image from scratch.
        </para>
        <para lang="de">
          Dieser Menüeintrag öffnet den <link
          linkend='gimp-file-new'>Dialog</link> zum Anlegen eines
          neuen Bildes.
        </para>
        <para lang="fr">
          Cet item ouvre la boîte de dialogue Création d'une 
          <link linkend='gimp-gimp-file-new'>Nouvelle Image</link>.
        </para>
        <para lang="it">
          Questa voce apre la finestra <link linkend='gimp-file-new'>Nuova immagine</link>, 
          permettendo la creazione da zero di una nuova immagine vuota.
        </para>
	<para lang="zh_CN">
	  它将打开<link linkend='gimp-file-new'>新建图像</link>对话框，让您创建一个空的新图像。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Open</term>
      <term lang="zh_CN">打开</term>
      <term lang="de">Öffnen</term>
      <term lang="fr">Ouvrir</term>
      <term lang="it">Apri</term>
      <listitem>
        <para lang="en">
          This item displays the <guilabel>Open Image</guilabel> dialog,
          allowing you to load an image from a file, in any of the formats
          that GIMP supports.
        </para>
        <para lang="de">
          Dieser Menüeintrag öffnet den <guilabel>Bild öffnen</guilabel>
          Dialog.
        </para>
        <para lang="fr">
          Cet item affiche la boîte de dialogue  
          <guilabel>sélectionner une image</guilabel>.
        </para>
        <para lang="it">
          Questa voce mostra la finestra <guilabel>Apri immagine</guilabel>,
          permettendo il caricamento di un immagine da un file, da un qualsiasi formato
          supportato da GIMP.
        </para>
	<para lang="zh_CN">
	  它将显示<guilabel>打开图像</guilabel>对话框，允许从文件读取任何 GIMP 支持图形格式的图像。
	</para>  
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Open Recent</term>
      <term lang="de">Zuletzt geöffnet</term>
      <term lang="fr">Récemment ouverts</term>
      <term lang="it">Apri recenti</term>
      <term lang="zh_CN">最近打开</term>
      <listitem>
        <para lang="en">
          This item displays a submenu containing the names of images that
          you have worked on recently, so that you can easily reload them.
        </para>
        <para lang="de">
          Dieses Menü bietet einen schnellen Zugriff auf die zuletzt,
          geöffneten Dokumente.
        </para>
        <para lang="fr">
          Cet item affiche une liste des documents que vous avez ouverts
          récemment.
        </para>
        <para lang="it">
          Questa voce mostra un sottomenu contenente i nomi delle immagini su cui
          si è lavorato recentemente, in maniera tale da renderne comodo il riutilizzo.
        </para>
	<para lang="zh_CN">
	  它将显示一个有您最近打开过的图像名字的子菜单，您能轻松地重新加载他们。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Acquire</term>
      <term lang="de">Holen</term>
      <term lang="fr">Acquisition</term>
      <term lang="it">Acquisizione</term>
      <term lang="zh_CN">获取</term>
      <listitem>
        <para lang="en">
          This item opens a window that gives the list of the available
          means for importing images into the GIMP.  This makes it possible
          to acquire images from sources other than the hard disk, such as
          Screen capture or Scanner.
        </para>
        <para lang="de">
          Über diesen Menüpunkt können Bilder, zum Beispiel per
          Bildschirmschnappschuss, in den GIMP importiert werden. Ausserdem
          ist es möglich, Bilder über weitere Schnittstellen (zum Beispiel
          einen angeschlossenen Scanner) zu importieren.
        </para>
        <para lang="fr">
          Cet item affiche une fenêtre volante qui donne la liste des 
          greffons disponibles permettant d'acquérir des images en 
          provenance d'autres sources que le disque dur (Presse papier, Copie 
          d'écran (le curseur de la souris devient une croix avec laquelle 
          on clique sur la fenêtre d'image choisie), Scanner (TWAIN pour 
          Windows, Xsane pour Linux)...
	</para>
        <para lang="it">
          Questa voce apre una finestra che fornisce un'elenco delle possibilità di
          importazione delle immagini in GIMP. Rende possibile l'acquisizione delle immagini
          da sorgenti diverse dal disco rigido come la cattura di una schermata o l'uso di
          un dispositivo di digitalizzazione.
        </para>
	<para lang="zh_CN">
	  它打开一个包含可用的导入图像到 GIMP 中方法的列表的窗口。这样就可以从除了硬盘的其他地方获取图像，比如屏幕截图和扫描仪。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Preferences</term>
      <term lang="de">Einstellungen</term>
      <term lang="fr">Préférences</term>
      <term lang="it">Preferenze</term>
      <term lang="zh_CN">首选项</term>
      <listitem>
        <para lang="en">
          This item displays the <link
          linkend='gimp-prefs-dialog'>Preferences dialog</link>,
          allowing you to alter a 
          variety of settings that affect the look, feel, and performance of
          the GIMP.  If you want to customize GIMP, this is the place
          to do it.
        </para>
        <para lang="de">
          Über diesen Menüpunkt gelangt man zum
          Einstellungsdialog.
        </para>
        <para lang="fr">
          Affiche la boîte de dialogue Préférences 
          permettant de configurer Gimp.
        </para> 
        <para lang="en">
          Questa voce mostra la finestra delle <link linkend='gimp-prefs-dialog'>preferenze</link>,
          che permette di impostare una varietà di parametri che consentono di modificare l'aspetto,
          il comportamento e le prestazioni di GIMP.  Se si vuole personalizzare GIMP, questo è il
          modo per farlo.
        </para>
	<para lang="zh_CN">
	  它将显示可以改变 GIMP 很多关于外观，效果和性能的设置的首选项对话框。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Dialogs</term>
      <term lang="de">Dialoge</term>
      <term lang="fr">Dialogues</term>
      <term lang="it">Finestre</term>
      <term lang="zh_CN">对话框</term>
      <listitem>
        <para lang="en">
          This item shows a submenu containing a list of available
          dialogs that may be useful during image editing -- patterns, palettes,
          brushes, etc.  You can open and close dialogs as needed, or, if you
          want them to stay around, you can dock them.
        </para>
        <para lang="de">
          Den Zugriff auf die zur Verfügung stehenden Dialoge für
          die Bildmanipulation erreicht man über <guilabel>Dialoge</guilabel>.
        </para>
        <para lang="fr">
          Donne accès à différentes boîte de dialogues 
          utiles lors de l'édition des images.
        </para>
        <para lang="it">
          Questa voce mostra un sottomenu contenente un'elenco di finestre
          disponibili che possono essere
          This item shows a submenu containing a list of available
          dialogs that may be useful during image editing -- patterns, palettes,
          brushes, etc.  You can open and close dialogs as needed, or, if you
          want them to stay around, you can dock them.
        </para>
	<para lang="zh_CN">
	  它将显示包含一系列对编辑图像有用的可用对话框。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Debug</term>
      <term lang="de">Debug</term>
      <term lang="fr">Débogage</term>
      <term lang="zh_CN">除错</term>
      <listitem>
        <para lang="en">
          This item is only useful for developers.
        </para>
        <para lang="de">
          Dieser Menüpunkt ist nur für Entwickler interessant.
        </para>
        <para lang="fr">
          Cet item n'intéresse que les développeurs.
        </para>
	<para lang="zh_CN">
	  它只对开发人员有用。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Quit</term>
      <term lang="de">Beenden</term>
      <term lang="fr">Quitter</term>
      <term lang="zh_CN">退出</term>
      <listitem>
        <para lang="en">
          Selecting this item ends your session with The GIMP.  You will be given an 
          opportunity to save any images that have unsaved modifications.
        </para>
        <para lang="de">
          Über <guilabel>Beenden</guilabel> lässt sich <acronym>Gimp</acronym>
          beenden.
        </para>
        <para lang="fr">
          Termine votre session Gimp.
        </para>
	<para lang="zh_CN">
	  它将结束您的 GIMP 进程，任何没有保存修改的图像都有机会保存。
	</para>
      </listitem>
    </varlistentry>
  </variablelist>
  
  <variablelist>
    <title lang="en">Xtns</title>
    <title lang="de">Xtns</title>
    <title lang="fr">Exts</title>
    <title lang="zh_CN">扩展</title>

    <varlistentry>
      <term lang="en">Module Manager</term>
      <term lang="de">Modul-Manager</term>
      <term lang="fr">Gestionnaire de Modules</term>
      <term lang="zh_CN">模块管理器</term>
      <listitem>
        <para lang="en">
	  Selecting this item displays the modules that are available
          to The GIMP.  You can also control which modules are loaded
          the next time the GIMP is launched, affecting functionality
          and launch time.  Modules are dynamically loaded libraries,
          loaded by the GIMP while it is running, that perform
          functions such as color-choosing and display filtering.
          Currently only a few modules exist, and they are loaded
          automatically at startup, so you will probably not find it
          necessary to use.
        </para>
        <para lang="de">
          Der Modul-Browser zeigt die im Gimp verfügbaren Module an.
        </para>
        <para lang="fr">
          Affiche les modules (fonctions implémentées de façon 
          séparée du noyau) disponibles dans Gimp. Vous pouvez 
          aussi inhiber le chargement des modules au lancement de Gimp, ce qui peut 
          l'accélérer et économiser la mémoire.
        </para>
	<para lang="zh_CN">
	  它显示 GIMP 中可用的模块。您也可以控制下次启动要加载的模块，他们对功能性和启动时间有影响。模块是一些随着 GIMP 启动而加载的动态加载库，它们完成颜色选择和显示滤镜效果等功能。当前只存在一些模块，它们在启动时自动加载，因此您可能它还没必要使用。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">DB Browser</term>
      <term lang="de">DB Browser</term>
      <term lang="fr">Explorer la base de Procédures</term>
      <term lang="zh_CN">DB 浏览器</term>
      <listitem>
        <para lang="en">
          This item displays the available procedures in the
          <acronym>PDB</acronym>.  This is mainly intended for
          advanced uses, such as script writing, and may not be
          particularly relevant to everyday users.
        </para>
        <para lang="de">
          Der DB Browser zeigt die verfügbaren Prozeduren in der <link
          linkend='glossary-pdb'>PDB</link> an.
        </para>
        <para lang="fr">
          Ouvre le "Navigateur BD" qui affiche les procédures 
          disponibles dans la <acronym>PDB</acronym> (Base de Données 
          de Procédures). Ces procédures sont des fonctions 
          appelées par des scripts ou des greffons. Cet outil est 
          utile aux auteurs de scripts et de greffons.
        </para>
	<para lang="zh_CN">
	  它将显示 <acronym>PDB</acronym> 中可用的流程。这主要为高级用户设计，比如写脚本，对普通用户就不是特别有用。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Plugin Details</term>
      <term lang="de">Plugin Details</term>
      <term lang="fr">Détails des greffons</term>
      <term lang="zh_CN">插件详细信息</term> 
      <listitem>
        <para lang="en">
          This item displays both a list and a tree-based heirarchy of
          all the loaded plug-ins that The GIMP has loaded.  If you
          want to use a plug-in, this is not the place to access it;
          you can get to it via the <guilabel>Filters</guilabel> menu
          in the individual image menubars.
        </para>
        <para lang="de">
          Dieser Menüpunkt ruft ein Listenfenster auf, welches
          hierarisch alle geladenen Plugins zeigt.
        </para>
        <para lang="fr">
          Ouvre la fenêtre "Description des greffons" qui affiche la 
          liste de tous les greffons que Gimp a chargés, de deux 
          façons possibles:en liste simple ou en arbre hiérarchique.
          Ce peut être utile pour retrouver un greffon.
        </para>
	<para lang="zh_CN">
	  它同时显示 GIMP 加载的所有插件的列表和树状视图。不过这儿不是使用插件的地方，那可以通过单独图像菜单条上的<guilabel>滤镜</guilabel>来使用。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Unit Editor</term>
      <term lang="de">Einheiten Editor</term>
      <term lang="fr">Editeur d'Unité</term>
      <term lang="zh_CN">单位编辑器</term>
      <listitem>
        <para lang="en">
          Selecting this item displays the Unit Editor dialog, which
          not only details the units that are currently being used,
          but also allows the creation of new units for use within the
          GIMP.
        </para>
        <para lang="de">
          Dieser Menüpunkt ruft den Einheiten Editor auf. In ihm können
          vorhandene Einheiten editiert oder neue Einheiten
          hinzu gefügt werden.
        </para>
        <para lang="fr">
          Affiche le détail des unités de mesure en cours. Permet en 
          outre d'ajouter de nouvelles unités.
        </para>
	<para lang="zh_CN">
	  它将显示单位编辑器对话框，其中不光有但前使用单位的详细信息，还可以创建在 GIMP 中使用的新单位。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry><term>Script-Fu</term>
      <listitem>
        <para lang="en">
          This item displays a submenu containing many Script-Fu
          scripts and options including the Script-Fu console.
          Script-Fu is a language for scripting GIMP operations, so
          that sequences of them can be executed in an automated way.
        </para>
        <para lang="de">
          Unter diesen Menüpunkt lässt sich alles nähere
          über Script-Fu Skripte erfahren. Enthalten ist nicht nur eine
          Übersicht der verfügbaren Skripte, sondern auch die
          Script-Fu Konsole.
        </para>
        <para lang="fr">
          Affiche la liste des Script-Fu disponibles, mais aussi la console 
          pour Script-Fu.(Script-fu est un langage de script)
        </para>
	<para lang="zh_CN">
	  它将显示包含许多 Script-Fu 脚本及其选项(如 Script-Fu 控制台)的一个子菜单。
	</para>    
      </listitem>
    </varlistentry>
  </variablelist>
  
  <variablelist>
    <title lang="en">Help</title>
    <title lang="de">Hilfe</title>
    <title lang="fr">Aide</title>
    <title lang="zh_CN">帮助</title>

    <varlistentry>
      <term lang="en">Help</term>
      <term lang="de">Hilfe</term>
      <term lang="fr">Aide</term>
      <term lang="zh_CN">帮助</term>
      <listitem>
        <para lang="en">
          Selecting this item displays the help browser.
        </para>
        <para lang="de">
          Durch Auswählen dieses Menüpunktes, öffnet man den
          <acronym>Gimp</acronym>-Hilfe Browser mit dem
          <acronym>Gimp</acronym> Benutzerhandbuch. 
        </para>
        <para lang="fr">
          Affiche l'explorateur d'aide avec le manuel de l'utilisateur.
        </para>
	<para lang="zh_CN">
	  它将显示帮助浏览器。
	</para>
        <tip>
          <para lang="en">
            If this does not seem to work, please verify that you have
            the Gimp User Manual installed.
          </para>
          <para lang="de">
            Bitte vergewissern Sie sich, dass das <acronym>Gimp</acronym>
            Benutzerhandbuch installiert ist, um die Hilfe benutzen zu
            können.
          </para>
          <para lang="fr">
            Vérifiez que le Manuel de l'utilisateur Gimp est bien 
            installé.
          </para>
	  <para lang="zh_CN">
	    如果无法显示，请检查是否安装 GIMP 用户手册。
	  </para>
        </tip>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Context Help</term>
      <term lang="de">Kontexthilfe</term>
      <term lang="fr">Aide Contextuelle</term>
      <term lang="zh_CN">环境帮助</term>
      <listitem>
        <para lang="en">
          Selecting this item changes the behaviour of the pointer
          such that the next click will display help for the clicked
          item, if available.  This item is mainly present as an aid
          to the clueless:  you can also access context help at any
          time simply by pressing the "F1" key with the pointer over
          the thing for which you want help.
        </para>
        <para lang="de">
          Ein Klick auf den Menüeintrag der <guilabel>Kontexthilfe</guilabel>
          genügt, um einen kontextsensitiven Mauszeiger zu erhalten.
          Um die Hilfe über ein Element zu erhalten, klicken Sie mit
          dem kontextsensitiven Mauszeiger auf ein Werkzeugicon Ihrer Wahl.
          Es ist ebenfalls möglich, auf Menüs zu klicken.
        </para>
        <para lang="fr">
          Un clic sur cet item changera le comportement du pointeur (qui 
          devient "?") de telle sorte que le prochain clic sur une icône 
          d'outil ou une fenêtre de l'interface affichera l'aide sur 
          l'élément concerné.
        </para>
	<para lang="zh_CN">
	  它将改变鼠标指针成问号，然后会显示您点击条目的帮助(如果该条目帮助可用)。您也可是随时按“F1”来激活环境帮助。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">Tip of the Day</term>
      <term lang="de">Tip des Tages</term>
      <term lang="fr">Conseil du jour</term>
      <term lang="zh_CN">每日提示</term>
      <listitem>
        <para lang="en">
          This item displays the Tip of the Day dialog. This dialog
          contains useful tips to help you gain a better understanding
          of some of The GIMP's nuances.  New users will find it very
          valuable to pay attention to these, which often suggest ways
          of doing something that are much easier or more efficient
          than more obvious approaches.
        </para>
        <para lang="de">
          Dieser Menüpunkt öffnet den <guilabel>Tip des
            Tages</guilabel> Dialog. Er zeigt nützliche Tips und
          Tricks um mit <acronym>GIMP</acronym> besser arbeiten zu
          können.
        </para>
        <para lang="fr">
          Affiche le conseil du jour qui contient d'utiles informations pour 
          mieux comprendre toutes les nuances de Gimp.
        </para>
	<para lang="zh_CN">
	  它将显示每日提示对话框。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">About</term>
      <term lang="de">Info</term>
      <term lang="en">A propos</term>
      <term lang="zh_CN">关于</term>
      <listitem>
        <para lang="en">
          This item shows the About dialog. This dialog gives information
          about your current release of The GIMP and the many authors who
          wrote it.
        </para>
        <para lang="de">
          Dieser Menüpunkt ruft das Infofenster auf, welches
          Informationen über die aktuelle Version und den vielen
          Autoren des <acronym>Gimp</acronym> anzeigt.
        </para>
        <para lang="fr">
          Affiche une fenêtre donnant des informations sur la version 
          présente de Gimp et sur ses auteurs.
        </para>
	<para lang="zh_CN">
	  它将显示关于对话框。该对话框包含关于当前 GIMP 版本和其作者的信息。
	</para>
      </listitem>
    </varlistentry>

    <varlistentry>
      <term lang="en">The GIMP Online</term>
      <term lang="de">Web Browser</term>
      <term lang="fr">Navigateur Web</term>
      <term lang="zh_CN">GIMP 在线</term>
      <listitem>
        <para lang="en">
          This item displays a submenu containing several helpful website
          addresses. If you select one of the items listed, your web
          browser will attempt to open the indicated site.
        </para>
        <para lang="de">
          Über diesen Menüpunkt kann man schnell auf hilfreiche Webseiten
          über und um <acronym>Gimp</acronym> zugreifen. Beim Aufruf des
          jeweiligen Menüpunktes, wird der Standardbrowser ihres Systems
          die übergebene <link linkend='glossary-url'>URL</link> laden.
        </para>
        <para lang="fr">
          Affiche une liste d'adresses de sites Web. Si vous cliquez sur une 
          de ces adresses, votre navigateur Web par défaut ouvrira la 
          page nommée.
        </para>
	<para lang="zh_CN">
	  它显示包含许多有用网站地址的一个子菜单。当您选择其上的一个地址时，网页浏览器将打开并显示该网站。
	</para>
      </listitem>
    </varlistentry>
  </variablelist>
</sect1>
