<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
                       "http://www.docbook.org/xml/4.3/docbookx.dtd">
<!-- section history:
  2007-10-23 ude: moved Semi-Flatten here from Colors filters
  2007-05-27 KoSt: added 'no'
  2007-01-05 lexa: added de translation
  2006-12-27 created by j.h
-->
<sect1 xmlns:xi="http://www.w3.org/2001/XInclude" id="filters-web">
  <title>Web Filters</title>

  <indexterm>
    <primary>Filters</primary>
    <secondary>Web</secondary>
    <tertiary>Introduction</tertiary>
  </indexterm>

  <sect2 id="filters-web-introduction">
    <title>Introduction</title>
    <para>
      Web filters are mostly used on images intended for web sites. The
      filter <link linkend="plug-in-imagemap">Image Map</link> is used to add
      clickable <quote>hot spots</quote> on the image. The filter
      <link linkend="gimp-filter-semi-flatten">Semi-Flatten</link> is used to
      simulate semi-transparency in image formats without alpha channel.
    </para>

    <para>
      This category describes the following filters:
    </para>
    <itemizedlist>
      <listitem>
        <para><xref linkend="plug-in-imagemap"/></para>
      </listitem>
      <listitem>
        <para><xref linkend="gimp-filter-semi-flatten"/></para>
      </listitem>
    </itemizedlist>

  </sect2>
  <xi:include href="web/imagemap.xml"/>
  <xi:include href="web/semiflatten.xml"/>
</sect1>
