/* some style elements copied from wgo.css from http://www.gimp.org */
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 105%;
    color: #555;
}
body {
    background-color: #f8f8f8;
}

hr {
  border: 0;
}

a {
  background: transparent;
  color: #497bad;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  background: transparent;
  text-decoration: underline;
}

a img {
  border: 0;
}

h1 {
  border-bottom: 1px solid #d0d0d0;
  padding: 5px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.3em;
}

/* Subtitle header. */
h2 {
  font-weight: 600;
  clear: both;
  font-size: 1.5rem;
}

/* Another subtitle using another font-size then the subtitle. */
h3 {
  font-weight: bold;
  clear: both;
  font-size: 110%;
}

p {
  padding: 0 0.5em;
  line-height: 1.5em;
}

li p {
  line-height: normal;
}

dt {
  margin-left: 0.8em;
  margin-top: 2em;
  margin-bottom: 1em;
}

dd {
  margin-right: 1em;
}

.webpage {
  max-width: 53rem;
  width: 90%;
  margin: 0 auto;
  border: 0.4em solid white;
  border-top: 0;
  border-bottom: 0;
  background-color: white;
}

.section {
  padding: 0 1em;
  margin-bottom: 3em;
}

.note {
  background: #deffce url("Layout/note.png") no-repeat left center;
  padding: 0.3em;
  border: 1px solid green;
}

.note p {
   margin-left: 3em;
}

.note h3 {
   padding: 0;
   margin: 0;
   color: green;
}

.term
{
  text-decoration: none;
  font-weight: 600;
  font-size: 120%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.variablelist .itemizedlist ul li {
   list-style-type: none;
   float: left;
   width: 90%;
}

.variablelist .itemizedlist ul li p {
   display: inline;
}

.variablelist p {
  padding-left: 0em;
  font-size: 110%;
  line-height: 1.2em;
  width: 90%;
}

.links {
  text-align: center;
  padding-bottom: 0.5em;
}

.cs {
   background: url("Layout/cz.png") no-repeat left center;
}

.de {
   background: url("Layout/de.png") no-repeat left center;
}
.en {
   background: url("Layout/gb.png") no-repeat left center;
}
.zh_CN {
   background: url("Layout/vn.png") no-repeat left center;
}
.fr {
   background: url("Layout/fr.png") no-repeat left center;
}
.it {
   background: url("Layout/it.png") no-repeat left center;
}
.nl {
   background: url("Layout/nl.png") no-repeat left center;
}
.sv {
   background: url("Layout/sv.png") no-repeat left center;
}
.hr {
   background: url("Layout/hr.png") no-repeat left center;
}
.es {
   background: url("Layout/es.png") no-repeat left center;
}
.no {
   background: url("Layout/no.png") no-repeat left center;
}
.ko {
   background: url("Layout/ko.png") no-repeat left center;
}
.ru {
   background: url("Layout/ru.png") no-repeat left center;
}
.pl {
   background: url("Layout/pl.png") no-repeat left center;
}
.ja {
   background: url("Layout/ja.png") no-repeat left center;
}
.el {
   background: url("Layout/el.png") no-repeat left center;
}
.fi {
   background: url("Layout/fi.png") no-repeat left center;
}
.da {
   background: url("Layout/da.png") no-repeat left center;
}
.sl {
   background: url("Layout/sl.png") no-repeat left center;
}
.pt_BR {
   background: url("Layout/pt_BR.png") no-repeat left center;
}

#Header img.logo {
    float: left;
    margin: 1em;
    width: 100%;
}

#Header img.wilber {
  float: right;
}


#Searchform {
  float: right;
}

#Searchform input.searchinput {
  border: 1px inset black;
  width: 15em;
}

#TopNavigation {
  padding: 0.2em;
  background-color: #17457c;
}

#TopNavigation a {
  color: white;
}

.LanguageSelection,
.navhead {
  display: inline;
  padding: 0;
  padding-left: 0.2em;
}

.LanguageSelection li,
.navhead li {
  display: inline;
  text-align: right;
}

.navhead li {
  background-color: #17457c;
  margin: 0;
  padding: 0.2em 1em;
  border-right: 1px solid white;
}

.navhead li a {
  color: white;
}

.navhead li:hover {
  background-color: #376aa0;
}

#Box {
    border-top: 1px solid black;
}

#Content {
  margin-left: 16em;
}

#Content ol {
    margin-left: 3em;
}

#Content table.authors {
    width: 100%;
}

#Content table.authors h2 {
    border-bottom: 1px dotted #d6ba00;
    display: inline;
}

#Content table.authors tr td {
    vertical-align: top;
}

#Content table.authors dl dt {
    margin-top: 0.5em;
    letter-spacing: 0.1em;
}

#Content table.authors ul {
    list-style: none;
}

.navfoot {
  clear: both;
  max-width: 53rem;
  border-top: 1px solid #d0d0d0;
  padding: 0;
  padding-bottom: 1em;
  font-weight: bold;
}

.navfoot td {
  text-align: center;
}

.footcopy {
  font-size: small;
}

.warning {
  border: 1px solid red;
  background-color: #ffd6d6;
  width: 18em;
  padding: 0.4em;
  margin: 0 auto;
}

.Flattr {
  float: right;
}
